.social{
    display: flex;
    font-size: 25px;
    gap: 10px;
    justify-content: space-evenly;
    align-items:center
    padding-top: 10px;
}  

.dire{
    text-decoration: none;
    font-size: small;
 }