.social{
    display: flex;
    font-size: 25px;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    gap: 20px;
}  

.dire{
    text-decoration: none;
    font-size: small;
 }