html{
    width: 100%;
    height: 100vh;
}

.formulario{
    padding-left: 30px;
    padding-top: 20px;
}

.forma{
    border-radius: 20px;
    border-color: $color-fuente;
    width: 65px;
    height: 25px;
    background-color: $background-color;

    &:hover{
        background-color: #ffff;

    }
}

.mini{
    width: 70px;
    height: auto;

}
