.formulario{
    padding-left: 30px;
    padding-top: 20px;
}

/* mixin */

@mixin fuente ($tamaño, $color) {
    font-size: $tamaño;
    color: $color;
    
}

.titulo1{
    @include fuente (35px, rgba(91, 52, 163, 0.938));
        border: 3px solid rgb(94, 228, 183);

}

/* extend */

.encargo{
    color:darkslategrey;
    border: 2px solid black;
}

.encargo--1{
    @extend .encargo;
    background-color: rgb(139, 95, 160);

}

.encargo--2{
    @extend .encargo;
    border: 3px dashed rgb(100, 94, 94);
}

.encargo--3{
    @extend .encargo;
    font-size: 35px;
}

/* map */ 

$contact: (
    instagram: rgb(97, 15, 86),
    whatsapp: rgb(23, 139, 23),
    email: rgba(14, 14, 221, 0.925)
);

@each $social, $color in $contact {
    .red--#{$social}{
        color: $color;
    }
}