#grilla {
    width: 100%;
    height: 100vh;
    
}

#grilla {
    display: grid;
    grid-template-areas:
        "frase"
        "inicio2"
        "inicio3";
    grid-template-columns: 100%;
    grid-template-rows: 50px 300px 400px;

}

.frase {
    grid-area: frase;
    font-size: large;
    text-align: center;
}

.inicio1{
    display: none;
}

.inicio2 {
    grid-area: inicio2;
    width: 400px;
    display: flex;
    align-self: center;
    justify-self: center;
}

.inicio3{
    grid-area: inicio3;
    width: 400px;
    display: flex;
    align-self: center;
    justify-self: center;
}

.animacion{
    transition-property: all;
    transition-duration: 2s;
    
    &:hover{
        transform: rotateX(360deg);
    }
}


@media (min-width: 768px) {

    #grilla {
        width: 100%;
        height: 600px;
        
    }
    
    #grilla {
        display: grid;
        grid-template-areas:
            "frase frase"
            "inicio1 inicio3";
        grid-template-columns: 50% 50%;
        grid-template-rows: 20% auto;
        gap: 15px;
    }

    .frase {
        grid-area: frase;
        font-size: large;
        text-align: center;
        align-self: center;
    }

    .inicio1 {
        grid-area: inicio1;
        display: flex;
        width: 80%;
        align-self: center;
        justify-self: center;

    }

    .inicio2{
        display: none;
    }
    .inicio3 {
        grid-area: inicio3;
        width: 80%;
        display: flex;
        align-self: center;
        justify-self: center;
    }

}

@media (min-width: 1024px) {

    #grilla {
        display: grid;
        grid-template-areas:
            "frase frase frase"
            "inicio1 inicio2 inicio3";
        grid-template-columns: 32% 36% 32%;
        grid-template-rows: 20% auto;
        gap: 0;
    }

    .frase {
        grid-area: frase;
        font-size: xx-large;
        text-align: center;
    }

    .inicio1 {
        grid-area: inicio1;
        display: flex;
        width: 300px;
        height: auto;

    }

    .inicio2 {
        grid-area: inicio2;
        width: 350px;
        height: auto;
        display: flex;
        align-self: center;
        justify-self: center;
    }

    .inicio3 {
        grid-area: inicio3;
        display: flex;
        width: 300px;
        height: auto;
    }
}